.menu-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0.5rem 1rem 5.5rem 1rem;
  overflow-y: auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.card p {
  font-size: 1rem;
  color: #555;
  overflow-wrap: break-word;
  max-height: 5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.description {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: #555;
  overflow: hidden;
}

.parent {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  overflow-y: auto;
  flex-direction: column;
}

.child {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem 1rem;
  vertical-align: middle;
  background-color: #fff;
  width: 20rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.clicked-menu {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem 1rem;
  vertical-align: middle;
  background-color: #2a3892;
  width: 20rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 253, 253);
}

.menu-layout {
  display: flex;
  flex-direction: column;
}

.price-in-card {
  display: flex;
}

.price-outsiders {
  padding-left: 0.5rem;
}

.not-available-price {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 0.125rem;
}

.price-upt {
  padding-left: 0.5rem;
}

.available-price {
  font-weight: bold;
  color: black;
}
/* Add this CSS to your stylesheet or style module */

.modal {
  z-index: 9999 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.close:hover {
  color: black;
}

.add-delete {
  padding-top: 1rem;
  margin-left: -0.65rem;
}

.add {
  background-color: rgb(10, 236, 175);
  font-weight: bold;
  border-radius: 10%;
  border-color: transparent;
  padding: 0.5rem;
}

.delete {
  background-color: rgb(249, 55, 59);
  font-weight: bold;
  border-radius: 10%;
  border-color: transparent;
  padding: 0.5rem;
}

.checkbox-div {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.25rem;
}
