.telefon {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 1rem;
}

.adresa {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.google-maps {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
