.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2.5rem;
}

.google-login-button {
  padding-top: 2rem;
  width: 18.75rem;
  height: auto;
  cursor: pointer;
}
